.card {

    //For Funtionality of both front and back side..

    //We should implement prespective property on the parent element of the child where the rotation happens
    //to give rotation a turning page like effect
    
    perspective:  150rem;  //1500px
    //to get it working on mozilla firefox as well
    -moz-perspective: 150rem;
    position: relative;
    height: 51rem;


    &__side {
        height: 51rem;
    transition: all .8s ease; 
    position: absolute; //whenever we use absolute positioning it collapses the parent element height which is 
    //here card so we have to specify the same height to the card
    top: 0;
    left: 0;
    width: 100%;

    backface-visibility: hidden; // it hides the back part of the element

     border-radius: 3px;
     overflow: hidden;//To get the borders back 
     box-shadow: 0 1.5rem 4rem rgba($color-black,.15);


    &--front {
   background-color: $color-white;
    }

    &--back {
       transform: rotateY(180deg); // as back is already rotated
       
       &--1 {
           background-image: linear-gradient(to right bottom , $color-secondary-light ,$color-secondary-dark);
       }

       &--2 {
           background-image: linear-gradient(to right bottom , $color-primary-light ,$color-primary-dark);
       }

       &--3 {
           background-image: linear-gradient(to right bottom , $color-tertiary-light ,$color-tertiary-dark);
       }
    }

    }
    
     
   &:hover &__side--front { // when the card is hovered then card side will be transformed
       transform: rotateY(-180deg); //specify axis of rotation which is y-axis
   }

   &:hover &__side--back { // when the card is hovered then card side will be transformed
       transform: rotateY(0); //specify axis of rotation which is y-axis
   }




   //Front side styling..


   &__picture {

    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;//To blend the gradient with the image 
    //Now doing so will remove the border-radius effect from the card so use overflow:hidden property in the parent element  
    
    -webkit-clip-path: polygon(0 0 ,100% 0,100% 85%,0 100%);
    clip-path: polygon(0 0 ,100% 0,100% 85%,0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;



    &--1 {
        background-image: linear-gradient(to right bottom , $color-secondary-light ,$color-secondary-dark) ,
         url(../img/nat-5.jpg);
    }
    &--2 {
        background-image: linear-gradient(to right bottom , $color-primary-light ,$color-primary-dark),
        url(../img/nat-6.jpg);
    }
    &--3 {
        background-image: linear-gradient(to right bottom , $color-tertiary-light ,$color-tertiary-dark),
        url(../img/nat-7.jpg);
    }

   }


   &__heading {

    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;

    position: absolute;//For positioning the heading upside the image
    top: 13rem;
    right: 2rem;
    width: 75%;

   }

   &__heading-span {

    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;//For dividing the text into two parts so that padding is applied on both lines..
    box-decoration-break: clone;

    &--1 {
        background-image: linear-gradient(to right bottom , rgba($color-secondary-light,.85) ,rgba($color-secondary-dark,.85));
    }

    &--2 {
        background-image: linear-gradient(to right bottom , rgba($color-primary-light,.85) ,rgba($color-primary-dark,.85));
    }

    &--3 {
        background-image: linear-gradient(to right bottom , rgba($color-tertiary-light,.85) ,rgba($color-tertiary-dark,.85));
    }

   }
   

   &__details {
        
    padding: 2rem;//To give the space btween image and details
    ul {
        list-style: none;
        width:80%;
        margin: 0 auto;//Simple way to center a block element inside of a block element
        li {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            text-transform: capitalize;
            

            &:not(:last-child){
                border-bottom: 2px solid $color-grey-dark-1;
            }
        }
    }
   }

// Front side Styling


//Back Side Styling

&__cta {

    //To center the block relative to card
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    //----------------------------------------------

    width: 90%;
    text-align: center;
}

&__price-box {
 text-align: center;
 margin-bottom: 8rem;
 color: $color-white;
}

&__price-only {

    font-size: 1.4rem;
    text-transform: uppercase;
}

&__price-value {

    font-size: 6rem;
    font-weight: 100;
    
}





//@include respond(tab-port){

    @media only screen and (max-width: 56.25em),
    only screen and (hover: none)//For touch screens where hover is not possible 
    {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);


    &__side {
    height: auto; 
    position: relative;
    box-shadow: none;
    

    &--back {
       transform: rotateY(0);
       clip-path: polygon(0 15%, 100% 0, 100% 100%,0 100%);       
    }

    }
     
   &:hover &__side--front {
       transform: rotateY(0);
   }

   &__details {
       padding: 1rem 3rem;
   }

   

//Back Side Styling

&__cta {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
}

&__price-box {
 margin-bottom: 3rem;
}


&__price-value {

    font-size: 4rem;
    
}   

}

}