*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: inherit;
}
/*Using root font-size to declare every measurements in rem which is relative to root font size*/
html {
    //This defines what 1 rem is
    font-size: 62.5%;  /* use (10/16)*100 to convert this 10px (the value we want) value into percentage as browsers have 16px as default...*/

    /*
    @include respond-phone {
        font-size: 50%;
    }
    */

    //in-case of max-width move from larger to lower like form land to port order
    //while in case of min-width move from smaller to larger 
 @include respond(tab-land) { //width < 1200 ?
        font-size: 56.25%; // 1rem = 9px  9/16 
    }

    @include respond(tab-port) { //width < 900 ?
        font-size: 50%; // 1rem = 8px  8/16 = 50%
    }


    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px  12/16
    }

}

body {

    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {//No padding on mobile phones and portrait tablets
        padding: 0;
    }


}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
